.card{
    background-color: rgb(197, 135, 226);
    position: relative;
    box-shadow: 0 2px 8px white;
    border-radius: 6px;
    left: 20%;
    right:20%;
    width: 100%;
    padding-bottom: 10px;
    max-width: 50%;
    
}